<h1>{{title}}</h1>
<h3>by <strong>{{visible_user_name}}</strong></h3>
{{#if thumbnail}}
<img src="{{thumbnail}}" alt="user_photo">
{{/if}}
{{{intro_text_markdown}}}

<h3>Share this</h3>

<p>https://mayday.us/mydonate/#{{slug}}</p>