<li class="col-md-4">
  <h3 class="as-if-h4"><a class="text-blue-dark" href="{{ url }}">{{ regular-title }}</a></h3>
  <time datetime="{{date}}" class="as-if-h6 text-grey-medium"><span>{{date}}</span></time>
  <p>{{{ regular-body }}}</p>
  <a class="as-if-h6" href="{{ url }}">Read More</a>
</li>