<li class="col-md-4">
  <time datetime="{{date}}" class="as-if-h6 text-blue-highlight"><span>{{date}}</span></time>
  <h3 class="as-if-h5"><a href="{{ url }}">{{ regular-title }}</a></h3>
  <p class="byline small">{{{ regular-body }}}</p>
</li>