{{#if full_width}}
<div class="col-md-12 bottom-margin new-legislator">
{{else}}
<div class="col-md-4 col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-0 bottom-margin new-legislator">
{{/if}}
  <a href="/legislator/?bioguide_id={{bioguide_id}}" class="pull-left pulled-image">
    <div class="background-square" style="background-image:url('{{image_url}}')"></div>
  </a>
  <h3 class="no-top-margin">{{ short_title }} <strong>{{ name }}</strong></h3>
  <h4> {{ party }}-{{ state_abbrev }} {{display_district}}</h4>
  {{#if support_message}}<h4> {{ support_message }}</h4>{{/if}}
  {{#unless hide_read_more}}<a class="btn btn-targets story-grey" href="/legislator/?bioguide_id={{bioguide_id}}">Read More</a>{{/unless}}
</div>